.navbar {
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(214, 134, 29)
}
#navbar-subtitle{
  font-size: 20px;
}
#navbar-title{
  font-size: 25px;
}

#plannerContainer {
  
  height: 450px;
  margin-top: 30px;
}

body {
  background-color: rgb(2, 83, 97);
}

button {
  border-radius: 0px 10px 10px 0px;
}

#clear {
  border-radius: 10px 10px 10px 10px;
}

@media only screen and (max-width: 400px) {
  button {
    border-radius: 0px 10px 10px 0px; 
    border-left: 0ch;   
  }
}

@media only screen and (max-width: 360px) {
  button {
    border-radius: 20px 20px 20px 20px; 
    border-left: 0ch; 
    padding-top: 10px; 
    margin-left: 10px; 
  }
  #saveButton {
    padding-right: 30px;
    padding-bottom: 10px;
  }
}